/* Coolors Exported Palette - coolors.co/454545-6d5959-9dcbba-abebd2-04f06a */

/* HSL */
$color1: hsla(0%, 0%, 27%, 1);
$color2: hsla(0%, 10%, 39%, 1);
$color3: hsla(158%, 31%, 71%, 1);
$color4: hsla(157%, 62%, 80%, 1);
$color5: hsla(146%, 97%, 48%, 1);

/* RGB */
$color1: rgba(69, 69, 69, 1);
$color2: rgba(109, 89, 89, 1);
$color3: rgba(157, 203, 186, 1);
$color4: rgba(171, 235, 210, 1);
$color5: rgba(4, 240, 106, 1);